@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400&family=Fauna+One&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F6F6F6;
}

.verticle::-webkit-scrollbar {
    height: 5px;
}


/* Handle */
.verticle::-webkit-scrollbar-thumb {
    background: gray;
}

::-webkit-scrollbar {
    width: 8px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
}